<div>
  <app-menu></app-menu>
  <app-menu-search></app-menu-search>
  <app-create-post (postCreated)="handlePostCreated($event)"></app-create-post>
  <div *ngFor="let publicacion of publicacionesAgrupadas">
    <div *ngIf="publicacion.deletedAt === null">
      <app-publicacion
        [posts]="publicacion"
        (deleted)="onDeletePost($event)"
      ></app-publicacion>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage <= 1">Anterior</button>
    <span class="span-page">Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages">
      Siguiente
    </button>
  </div>
</div>
